<p-card [header]="entityName">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let field of entityFields">
      <label class="font-bold block mb-2" for="{{field.name}}"> {{ field.name }} </label>
      <ng-container [ngSwitch]="field.type">
        <ng-container *ngSwitchCase="MT.INTEGER">
          <p-inputNumber formControlName="{{ field.name }}" id="{{field.name}}"></p-inputNumber>
        </ng-container>
        <ng-container *ngSwitchCase="MT.FLOAT">
          <p-inputNumber [useGrouping]="false" formControlName="{{ field.name }}" id="{{field.name}}"></p-inputNumber>
        </ng-container>
        <ng-container *ngSwitchCase="MT.STRING">
          <input formControlName="{{ field.name }}" id="{{field.name}}" pInputText/>
        </ng-container>
        <ng-container *ngSwitchCase="MT.DATE">
          <p-calendar formControlName="{{ field.name }}" id="{{field.name}}"></p-calendar>
        </ng-container>
        <ng-container *ngSwitchCase="MT.ENUM">
          <p-dropdown [options]="relEnums[field.name]" formControlName="{{ field.name }}"
                      id="{{field.name}}"></p-dropdown>
        </ng-container>
        <ng-container *ngSwitchCase="MT.REL">
          <p-dropdown [options]="relEntities[field.name]" formControlName="{{ field.name }}" id="{{field.name}}"
                      optionLabel="name"></p-dropdown>
        </ng-container>
      </ng-container>
    </div>
    <p-button type="submit">Submit</p-button>
  </form>
</p-card>
