<p-card [header]="'New request'">

  <div *ngIf="authService.isInRole('MEDIC') | async" class="p-grid">
    <div class="p-col-6">
      <p-pickList
        [source]="availableProducts"
        [target]="selectedProducts">
        <ng-template let-product pTemplate="item">
          {{ product.productTypeType }}
        </ng-template>
      </p-pickList>
    </div>
    <div class="p-col-6">
      <h4>Selected Products</h4>
      <ul>
        <li *ngFor="let product of selectedProducts">
          {{ product.productTypeType }} - Quantity:
          <p-inputNumber
            [(ngModel)]="product.quantity"
            [min]="1"
            [useGrouping]="false"
            mode="decimal"
          />
        </li>
      </ul>
    </div>
    <p-button (onClick)="sendOrder()" label="Send"></p-button>
  </div>


  <div *ngIf="authService.isInRole('WAREHOUSE') | async" class="p-grid">
    <p-dropdown
      [(ngModel)]="selectedDrone"
      [options]="drones"
      optionLabel="id"
      placeholder="Select Drone to send"/>
    <p-button
      (onClick)="sendDrone()"
      [disabled]="!selectedDrone"
      label="Send drone"
    ></p-button>
  </div>

</p-card>
