<p-card [header]="'Product operations'">
  <p-accordion>
  <p-accordionTab header="Get Product with Max Manufacture Cost">
    <button (click)="maxCost()" label="Execute" pButton type="button"></button>
  </p-accordionTab>

  <p-accordionTab header="Count Products with Person Name Less than Given">
    <p-dropdown
      [(ngModel)]="selectedPerson"
      [options]="persons"
      optionLabel="name"
      placeholder="Select Person"/>
    <button
      (click)="lessPerson()"
      [disabled]="!selectedPerson"
      label="Execute"
      pButton
      type="button"
    ></button>
  </p-accordionTab>

  <p-accordionTab header="Get Products with Part Number Greater">
    <input [(ngModel)]="partNumber" pInputText placeholder="Part Number"/>
    <button
      (click)="greaterPn()"
      [disabled]="!partNumber || !partNumber.length"
      label="Execute"
      pButton
      type="button"
    ></button>
  </p-accordionTab>

  <p-accordionTab header="Get Products with Unit Of Measure In List">
    <p-multiSelect
      [(ngModel)]="selectedUnitOfMeasures"
      [options]="unitOfMeasures"
      placeholder="Select of units"/>
    <button
      (click)="inUnit()"
      [disabled]="!selectedUnitOfMeasures || !selectedUnitOfMeasures.length"
      label="Execute"
      pButton
      type="button"
    ></button>
  </p-accordionTab>

  <p-accordionTab header="Decrease all product prices by percent">
    <p-inputNumber
      [(ngModel)]="percentage"
      [maxFractionDigits]="5"
      [max]="1"
      [minFractionDigits]="1"
      [min]="0"
      [useGrouping]="false"
      inputId="in-pct"
      mode="decimal"
      placeholder="Percentage (0 to 1)"
    />
    <button
      (click)="decrease()"
      [disabled]="!percentage || !(0 < percentage && percentage < 1)"
      label="Execute"
      pButton
      type="button"
    ></button>
  </p-accordionTab>
</p-accordion>


<app-base-table
  #table
  [columnDefs]="columnDefs"
  [fetchDataFunc]="fetchWrapper"
  [interactive]="false"
  [paged]="false"
  [staticData]="true"
/>
</p-card>
