<ag-grid-angular
  (gridReady)="onGridReady($event)"
  [cacheBlockSize]="pageSize"

  [cacheOverflowSize]="1"
  [columnDefs]="columnDefs"

  [defaultColDef]="defaultColDef"
  [infiniteInitialRowCount]="1"
  [maxBlocksInCache]="1"
  [maxConcurrentDatasourceRequests]="1"

  [paginationAutoPageSize]="false"
  [paginationPageSizeSelector]="[5,10,20,50]"
  [paginationPageSize]="pageSize"
  [pagination]="true"
  [rowData]="rowData"

  [rowModelType]="'infinite'"

  class="ag-theme-quartz-dark"
  style="height: 50vh;"
/>
